*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    flex-flow: column;

    background-color: rgb(27, 26, 26);
    color:rgb(230, 234, 237);
    
}

h1{
    text-align: center;
    
}

p{
    text-align: center;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}
 a {
    text-decoration: none;
    color: #81dbb8;
 }
 a:hover{
    opacity: .85;
 }

 nav {
    width: 95vw;
    font-size: 3rem; 


 ul{
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: auto;
    justify-items: center;
    list-style: none;

    li.reg_log a{
      color: rgb(147, 240, 206);
    }
 } 
}

 .post, .comm {
    width: 80vw;
    text-align: center;
 }
 h2{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.2rem;
 }
 .post .post_body {
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 5px;
 }

 .comm > p {
    text-align: center;
    margin-bottom: 5px;
 }

 p.post_body {
   white-space: pre-line;
 }
 p.post_date{
   font-size: 0.8rem;
   color: rgba(230, 234, 237, 0.508);
 }

 p.comm_body {
   white-space: pre-line;
 }
 p.comm_date{
   font-size: 0.8rem;
   color: rgba(230, 234, 237, 0.508);
 }

 .helptext{
   font-size: 0.6rem;
   ul{
      font-size: 0.6rem;
   }
 }

 .errorlist{
   list-style: none;
   color: brown;
 }

.login{
   text-align: center;
}

 button{
   padding: 8px 22px; 
   border-radius: 5px;
   background-color: rgba(16, 246, 154, 0.137);
   border-color: rgb(29, 91, 60);
   font-size: 0.9rem;
   color: #81dbb8;

   &:active{
      background-color: rgba(11, 134, 85, 0.137);
   }
  
 }