*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    flex-flow: column;

    background-color: rgb(27, 26, 26);
    color:rgb(230, 234, 237);
    
}

h1{
    text-align: center;
    
}

p{
    text-align: center;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}
 a {
    text-decoration: none;
    color: #81dbb8;
 }
 a:hover{
    opacity: .85;
 }

 nav {
    width: 100vw;
    font-size: 3rem; 
 }

 ul{
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    list-style: none;
 }